
@font-face {font-family: 'ProximaNovaA-Extrabld';src: url('webfonts/2549F9_0_0.eot');src: url('webfonts/2549F9_0_0d41d.eot?#iefix') format('embedded-opentype'),url('webfonts/2549F9_0_0.woff') format('woff'),url('webfonts/2549F9_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'ProximaNovaS-Extrabld';src: url('webfonts/2549F9_1_0.eot');src: url('webfonts/2549F9_1_0d41d.eot?#iefix') format('embedded-opentype'),url('webfonts/2549F9_1_0.woff') format('woff'),url('webfonts/2549F9_1_0.ttf') format('truetype');}
 